/.htaccess
/*.php
/*.htm
/*.html
/*.txt
/favicon.ico
/pkg.rev
/pkg.info
/COPYING
/README

/admin
/application/commands
/application/components
/application/controllers
/application/models
/application/translations
/application/views/admin
/application/views/azure
/application/views/mobile
/application/views/roxid
/bin
/build/tmp
/build/package
/build/productive
/build/upload.sh
/build/upload_config
/build/ROXID
/build/ROXID*
/build/*.zip
/build/*.sql
/core
/documentation
/export
/log
/node_modules
/out/admin
/out/azure
/out/downloads
/out/media
/out/mobile
/out/pictures
/out/roxid3/bower_components
/out/roxid3/build
/out/roxid_mod/src/build
/oxid
/setup
/tmp
